<nav class="navbar">
  <ul class="navbar-list left">
    <li class="navbar-item">
      <a href="/" class="navbar-link">Tachiagare!</a>
    </li>
    <li class="navbar-item">
      <a href="/songs" class="navbar-link">Song List</a>
    </li>
    <li class="navbar-item">
      <a href="/groups" class="navbar-link">Groups</a>
    </li>
  </ul>

  <ul class="navbar-list right desktop-only">
    <li class="navbar-item">
      <a href="https://github.com/datyayu/tachiagare" target="_blank" rel="noopener" class="navbar-link">Github</a>
    </li>
  </ul>
</nav>
